{% extends "nest/base.html" %}
{% load i18n static %}
{% load mathfilters %}

{% block extrastyle %}
<style>
    video { position:fixed; top:{{ 100|sub:video_display_percentage|div:2 }}%; left:{{ 100|sub:video_display_percentage|div:2  }}%; height:{{ video_display_percentage }}%; width:{{ video_display_percentage }}%; display:none; }
    #qa { margin: 30px 0; display:none; }
</style>
{% endblock %}

{% block extrahead %}
<script>
    function play_video(url) {
        container.style.display = "none";
        video.style.display = "block";
        document.body.style.backgroundColor = "black";
        video.setAttribute('src', url);
        video.play();
    }
    window.addEventListener('load', function () {
        container = document.getElementById("container");
        qa = document.getElementById("qa");
        video = document.getElementById("video");
        document.getElementById('{{ video }}').addEventListener("click", function() {
            play_video('{{ video }}');
        });
    })
    document.addEventListener("keydown", (e) => {
        if ((e.key === " " || e.key === "Escape") && (video.style.display === "block")) {
            video.pause()
            video.style.display = "none";
            document.body.style.backgroundColor = "white";
            container.style.display = "block";
            qa.style.display = "block";
        }
    });
    document.addEventListener("dblclick", (e) => {
        if (video.style.display === "block") {
            video.pause()
            video.style.display = "none";
            document.body.style.backgroundColor = "white";
            container.style.display = "block";
            qa.style.display = "block";
        }
    });
</script>
<link rel="stylesheet" href="{% static "nest/css/forms.css" %}">
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %} {% if title %}<h1>{{ title }}</h1>{% endif %} {% endblock %}

{% block content %}
<div id="content-main">
    {% if instruction_html %} {{ instruction_html|safe }} {% endif %}
    <p>
        <a class="button" id="{{ video }}">{{ button }}</a>
    </p>
    <div id=qa>
        <p id="question">
            {{ question }}
        </p>
        <form id="acr" {% if session_id %} action="{% url 'nest:step_session' session_id %}" {% endif %} method="post">
            {% csrf_token %}
            <div>
                {% for choice in choices %}
                <div>
                    <input type="radio" name="acr_{{stimulusvotegroup_id}}" id="radio_acr{{choices|length|sub:forloop.counter0}}" value="{{choices|length|sub:forloop.counter0}}" required>
                    <label for="radio_acr{{choices|length|sub:forloop.counter0}}"> {{ choice }} </label>
                </div>
                {% endfor %}
            </div>
            <div>
                <button type="submit" class="button" id="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extrabody %}
<video id="video" {% if video_show_controls %} controls {% endif %} loop controlsList="nodownload nofullscreen noremoteplayback"></video>
{% endblock %}
