{% extends "nest/base.html" %}
{% load i18n static %}
{% load mathfilters %}

{% block extrastyle %}
<style>
    video { position:fixed; top:{{ 100|sub:video_display_percentage|div:2 }}%; left:{{ 100|sub:video_display_percentage|div:2  }}%; height:{{ video_display_percentage }}%; width:{{ video_display_percentage }}%; display:none; }
    canvas { position:fixed; top:{{ 100|sub:video_display_percentage|div:2 }}%; left:{{ 100|sub:video_display_percentage|div:2  }}%; height:{{ video_display_percentage }}%; width:{{ video_display_percentage }}%; display:none; }
    #qa { margin: 30px 0; display:none; }
    #tag { position:absolute; left:50%; top:{% if text_vert_perc %}{{text_vert_perc}}{% else %}33{% endif %}%; width:800px; height:100px; margin-left:-400px; margin-top:-50px; text-align:center; font-size: {% if text_fontsize %} {{ text_fontsize }} {% else %} 100px {% endif %}; display:none; color: {% if text_color %} {{ text_color }} {% else %} #a40404 {% endif %}}
</style>
{% endblock %}

{% block extrahead %}
<script>
    var t_gray = {{ t_gray }}; {# time of gray screen in ms #}
    var plays = {{ num_plays }};  {# how many times to play each video #}
    var played = 0;
    function play_video(url) {
        return function() {
            container.style.display = "none";
            tag.style.display = "none";
            video.style.display = "block";
            canvas.style.display = "block";
            document.body.style.backgroundColor = "black";
            video.setAttribute('src', url);
            video.play();
        }
    }
    function setCanvasResolution() {
        const ctx = canvas.getContext('2d');
        const scaleFactor = 1; // Adjust for higher resolution
        const rect = canvas.getBoundingClientRect();

        canvas.width = rect.width * scaleFactor;
        canvas.height = rect.height * scaleFactor;
        ctx.scale(scaleFactor, scaleFactor);
    }
    function draw() {

        const ctx = canvas.getContext('2d');
        ctx.clearRect(0, 0, canvas.width, canvas.height); // Clear the canvas

        // Define the rectangle size and position in percentage
        const rectWidthPercent = 20; // 20% of the canvas width
        const rectHeightPercent = 20; // 20% of the canvas height
        const rectXPercent = 80; // 80% of the canvas width for the lower right corner
        const rectYPercent = 80; // 80% of the canvas height for the lower right corner

        // Calculate the actual size and position
        const rectWidth = (rectWidthPercent / 100) * canvas.width;
        const rectHeight = (rectHeightPercent / 100) * canvas.height;
        const rectX = (rectXPercent / 100) * canvas.width;
        const rectY = (rectYPercent / 100) * canvas.height;

        // Draw the rectangle
        ctx.fillStyle = 'rgba(20, 20, 20, 0.95)';
        ctx.fillRect(rectX, rectY, rectWidth, rectHeight);

        // Calculate the center of the rectangle for the text
        const text = 'LIVE';
        const fontSize = 40
        ctx.font = fontSize + 'px Arial'; // Font size and family
        ctx.fillStyle = 'white'; // Text color
        const textWidth = ctx.measureText(text).width;
        const textHeight = ctx.measureText(text).height;
        const textX = rectX + (rectWidth - textWidth) / 2;
        const textY = rectY + (rectHeight + fontSize) / 2;

        // Draw the text
        ctx.fillText(text, textX, textY);
    }
    function updateCanvas() {
        setCanvasResolution();
        draw();
        requestAnimationFrame(updateCanvas);
    }
    function show_gray_and_play(t) {
        container.style.display = "none";
        document.body.style.backgroundColor = "gray";
        tag.style.display = "block";
        played = played + 1;
        url = '{{ video }}';
        if(t > 0){
            setTimeout(play_video(url), t);
        }else{
            play_video(url)();
        }
    }
    function decide_whats_next(){
        video.style.display = "none";
        canvas.style.display = "none";
        if(played === plays) { {# video played required number of times #}
            document.body.style.backgroundColor = "white";
            container.style.display = "block";
            qa.style.display = "block";
        }else{
            show_gray_and_play(t_gray);
        }
    }
    function check_middle_button() {
        const btns = [...document.querySelectorAll('input[name="acr_{{stimulusvotegroup_id}}"]')];
        const middle = Math.floor(btns.length / 2);
        btns[middle].checked = true;
    }
    function go_to_next_button() {
        const btns = [...document.querySelectorAll('input[name="acr_{{stimulusvotegroup_id}}"]')];
        const current = btns.findIndex(btn => btn.checked);
        btns[Math.min(current + 1, btns.length - 1)].checked = true;
    }
    function go_to_prev_button() {
        const btns = [...document.querySelectorAll('input[name="acr_{{stimulusvotegroup_id}}"]')];
        const current = btns.findIndex(btn => btn.checked);
        btns[Math.max(current - 1, 0)].checked = true;
    }
    function press_submit() {
        document.getElementById("submit").click();
    }
    window.addEventListener('load', function () {
        container = document.getElementById("container");
        qa = document.getElementById("qa");
        video = document.getElementById("video");
        tag = document.getElementById("tag");
        canvas = document.getElementById("canvas");
        window.addEventListener('resize', function() {
            setCanvasResolution();
        });
        video.addEventListener('play', function() {
            updateCanvas();
        });
        video.addEventListener("ended", function () {
            decide_whats_next();
        });
        check_middle_button();
        show_gray_and_play(t_gray);
    })
    document.addEventListener("keydown", (e) => {
        if ((e.key === " " || e.key === "Escape") && (video.style.display === "block")
            && played > {% if min_num_plays is not None %} {{ min_num_plays }} {% else %} {{ num_plays }} {% endif %}) {
            video.pause()
            video.style.display = "none";
            canvas.style.display = "none";
            document.body.style.backgroundColor = "white";
            container.style.display = "block";
            qa.style.display = "block";
        }
        else if (e.key === "ArrowUp" && qa.style.display === "block") {
            go_to_prev_button();
        }
        else if (e.key === "ArrowDown" && qa.style.display === "block") {
            go_to_next_button();
        }
        else if (e.key === "Enter" && qa.style.display === "block") {
            press_submit();
        }
    });
    document.addEventListener("dblclick", (e) => {
        if (video.style.display === "block"
            && played > {% if min_num_plays is not None %} {{ min_num_plays }} {% else %} {{ num_plays }} {% endif %}) {
            video.pause()
            video.style.display = "none";
            canvas.style.display = "none";
            document.body.style.backgroundColor = "white";
            container.style.display = "block";
            qa.style.display = "block";
        }
    });
</script>
<link rel="stylesheet" href="{% static "nest/css/forms.css" %}">
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %} {% if title %}<h1>{{ title }}</h1>{% endif %} {% endblock %}

{% block content %}
<div id="content-main">
    {% if instruction_html %} {{ instruction_html|safe }} {% endif %}
    <div id=qa>
        <p id="question">
            {{ question }}
        </p>
        <form id="acr" {% if session_id %} action="{% url 'nest:step_session' session_id %}" {% endif %} method="post">
            {% csrf_token %}
            <div>
                {% for choice in choices %}
                <div>
                    <input type="radio" name="acr_{{stimulusvotegroup_id}}" id="radio_acr{{choices|length|sub:forloop.counter0}}" value="{{choices|length|sub:forloop.counter0}}" required>
                    <label for="radio_acr{{choices|length|sub:forloop.counter0}}"> {{ choice }} </label>
                </div>
                {% endfor %}
            </div>
            <div>
                <button type="submit" class="button" id="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extrabody %}
<video id="video" {% if video_show_controls %} controls {% endif %} controlsList="nodownload nofullscreen noremoteplayback"></video>
<canvas id="canvas"></canvas>
 <div id="tag">
    <p> {{ button }} </p>
</div>
{% endblock %}
