{% extends "nest/base.html" %}
{% load i18n static %}
{% load mathfilters %}

{% block extrastyle %}
<style>
    video { position:fixed; top:{{ 100|sub:video_display_percentage|div:2 }}%; left:{{ 100|sub:video_display_percentage|div:2  }}%; height:{{ video_display_percentage }}%; width:{{ video_display_percentage }}%; display:none; }
    #qa { margin: 30px 0; display:none; }
    #tag { position:absolute; left:50%; top:{% if text_vert_perc %}{{text_vert_perc}}{% else %}33{% endif %}%; width:800px; height:100px; margin-left:-400px; margin-top:-50px; text-align:center; font-size:100px; display:none; color: {% if text_color %} {{ text_color }} {% else %} #a40404 {% endif %}}
</style>
{% endblock %}

{% block extrahead %}
<script>
    var t_gray = {{ t_gray }}; {# time of gray screen in ms #}
    var plays = {{ num_plays }};  {# how many times to play each video #}
    var played = 0;
    function play_video(url) {
        return function() {
            container.style.display = "none";
            tag.style.display = "none";
            video.style.display = "block";
            document.body.style.backgroundColor = "black";
            video.setAttribute('src', url);
            video.play();
        }
    }
    function show_gray_and_play(t) {
        container.style.display = "none";
        document.body.style.backgroundColor = "gray";
        tag.style.display = "block";
        played = played + 1;
        url = '{{ video }}';
        if(t > 0){
            setTimeout(play_video(url), t);
        }else{
            play_video(url)();
        }
    }
    function decide_whats_next(){
        video.style.display = "none";
        if(played === plays) { {# video played required number of times #}
            document.body.style.backgroundColor = "white";
            container.style.display = "block";
            qa.style.display = "block";
        }else{
            show_gray_and_play(t_gray);
        }
    }
    window.addEventListener('load', function () {
        container = document.getElementById("container");
        qa = document.getElementById("qa");
        slider = document.getElementById("myRange");
        output = document.getElementById("score");
        output.innerHTML = slider.value; // Display the default slider value
        video = document.getElementsByTagName("video")[0];
        tag = document.getElementById("tag");
        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function() {
            output.innerHTML = this.value;
        }
        video.addEventListener("ended", function() {
            decide_whats_next();
         });
        show_gray_and_play(t_gray);
    })
    document.addEventListener("keydown", (e) => {
        if ((e.key === " ") && (video.style.display === "block")
            && played > {% if min_num_plays is not None %} {{ min_num_plays }} {% else %} {{ num_plays }} {% endif %}) {
            video.pause()
            video.style.display = "none";
            document.body.style.backgroundColor = "white";
            container.style.display = "block";
            qa.style.display = "block";
        }
    });
    document.addEventListener("dblclick", (e) => {
        if (video.style.display === "block"
            && played > {% if min_num_plays is not None %} {{ min_num_plays }} {% else %} {{ num_plays }} {% endif %}) {
            video.pause()
            video.style.display = "none";
            document.body.style.backgroundColor = "white";
            container.style.display = "block";
            qa.style.display = "block";
        }
    });
</script>
<link rel="stylesheet" href="{% static "nest/css/forms.css" %}">
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %} {% if title %}<h1>{{ title }}</h1>{% endif %} {% endblock %}

{% block content %}
<div id="content-main">
    {% if instruction_html %} {{ instruction_html|safe }} {% endif %}
    <div id=qa>
        <p id="question">
            {{ question }}
        </p>
        <form id="acr" {% if session_id %} action="{% url 'nest:step_session' session_id %}" {% endif %} method="post">
            {% csrf_token %}
            <div>
                {% for choice in choices %}
                <div>
                    <input type="radio" name="acr_{{stimulusvotegroup_id}}" id="radio_acr{{choices|length|sub:forloop.counter0}}" value="{{choices|length|sub:forloop.counter0}}" required>
                    <label for="radio_acr{{choices|length|sub:forloop.counter0}}"> {{ choice }} </label>
                </div>
                {% endfor %}
            </div>
            <div>
                <button type="submit" class="button" id="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extrabody %}
<video {% if video_show_controls %} controls {% endif %} controlsList="nodownload nofullscreen noremoteplayback"></video>
 <div id="tag">
    <p> {{ button }} </p>
</div>
{% endblock %}
