{% extends "nest/base.html" %}
{% load i18n static %}
{% load mathfilters %}
{% load nest_extras %}

{% block extrastyle %}
<style>
    video { position:fixed; top:{{ 100|sub:video_display_percentage|div:2 }}%; left:{{ 100|sub:video_display_percentage|div:2  }}%; height:{{ video_display_percentage }}%; width:{{ video_display_percentage }}%; display:none; }
    #qa { margin: 30px 0; display:none; }
</style>
{% endblock %}

{% block extrahead %}
<script>
    var clicks = 0;
    function onClick() {
        clicks += 1;
        document.getElementById("clicks").innerHTML = clicks;
    }
    function play_video(url) {
        container.style.display = "none";
        video.style.display = "block";
        document.body.style.backgroundColor = "black";
        video.setAttribute('src', url);
        video.play();
    }
    window.addEventListener('load', function () {
        container = document.getElementById("container");
        qa = document.getElementById("qa");
        video = document.getElementsByTagName("video")[0];
        document.getElementById("video_a").addEventListener("click", function() {
            play_video('{{ video_a }}');
        });
        document.getElementById("video_b").addEventListener("click", function() {
            play_video('{{ video_b }}');
        });
    })
    document.addEventListener("keydown", (e) => {
        if ((e.key === " ") && (video.style.display === "block")) {
            video.pause()
            video.style.display = "none";
            document.body.style.backgroundColor = "white";
            container.style.display = "block";
            if (clicks > 1) {
                qa.style.display = "block";
            }
        }
    });
    document.addEventListener("dblclick", (e) => {
        if (video.style.display === "block") {
            video.pause()
            video.style.display = "none";
            document.body.style.backgroundColor = "white";
            container.style.display = "block";
            if (clicks > 1) {
                qa.style.display = "block";
            }
        }
    });
</script>
<link rel="stylesheet" href="{% static "nest/css/forms.css" %}">
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %} {% if title %}<h1>{{ title }}</h1>{% endif %} {% endblock %}

{% block content %}
<div id="content-main">
    {% if instruction_html %} {{ instruction_html|safe }} {% endif %}
    <div>
        <a class="button" id="video_a" onclick="onClick()">{{ button_a }}</a>
        <a class="button" id="video_b" onclick="onClick()">{{ button_b }}</a>
    </div>
    <div id=qa>
        <p id="question">
            {{ question }}
        </p>
        <p>
        <form id="ccr" {% if session_id %} action="{% url 'nest:step_session' session_id %}" {% endif %} method="post">
            {% csrf_token %}
            <div>
                {% for choice, value in choices|zip:video_a_to_b_values %}
                <div>
                    <input type="radio" name="ccr_{{stimulusvotegroup_id}}" id="radio_ccr{{ forloop.counter0 }}" value="{{ value }}" required>
                    <label for="radio_ccr{{ forloop.counter0 }}"> {{ choice }} </label>
                </div>
                {% endfor %}
            </div>
            <div>
                <button type="submit" class="button" id="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extrabody %}
<video {% if video_show_controls %} controls {% endif %} loop controlsList="nodownload nofullscreen noremoteplayback"></video>
{% endblock %}
